.chartSection {
  padding: 1rem 2rem 2rem 2rem;
  border: 1px dashed rgb(0, 60, 125);
  background: rgba(15, 15, 15, 0.65);
  width: 60vmin;
  /* max-width: 430px; */
  box-shadow: 0 0 5px 0 rgba(15, 15, 15, 0.65);
  /* position: relative; */
}
