.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vmin;
  max-width: 450px;
}

.button {
  color: rgb(201, 201, 201);
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 1rem;
  font-weight: 700;
  background: rgb(0, 140, 140);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(15, 15, 15, 0.65);
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}
.button:hover {
  background: rgb(0, 60, 125);
}
@media screen and (max-width: 450px) {
  .form {
    max-width: 100vmin;
    margin: 0 auto;
    padding: 0 0.5rem;
  }
}
