.boxContainer {
  border: 1px dashed rgb(0, 60, 125);
  border-radius: 5px;
  padding: 0 1rem;
  background: rgba(15, 15, 15, 0.65);
  cursor: pointer;
  margin: 0.5rem;
  box-shadow: 0 0 5px 0 rgba(15, 15, 15, 0.65);
  transition: opacity 0.5s ease-in-out;
}
.details {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  font-size: 0.9rem;
}
.id {
  display: flex;
  flex-direction: column-reverse;
}
.accent {
  font-size: 0.75rem;
  color: rgb(112, 112, 112);
}
